<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">

    <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="lest_1-1">
                        <img src="images/profile.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-1.svg" class="icon-1" />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-2.svg" class="icon-1" />
                            </div>
                        </a> 
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-3.svg" class="icon-1" />
                            </div>
                        </a>
                         <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-4.svg" class="icon-1"  />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-5.svg" class="icon-1"  />
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/Vector-6.svg" class="icon-1"  />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2-left">
                        <div class="-left-1">Age:</div>
                        <div class="-left-2">Residence:</div>
                        <div class="-left-3">Freelance:</div>
                        <div class="-left-4">Address:</div>
                    </div>
                    <div class="left_2-right">
                        <div class="-left-1"><%=user.age%></div>
                        <div class="-left-2"><%=user.residence%></div>
                        <div class="-left-3"><%=user.freelance%></div>
                        <div class="-left-4"><%=user.address%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="box_info">Languages</div>
                    <div class="info"><p>Uzbek</p>
                    <p>100%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                <div class="info"><p>Korean</p>
                    <p>80%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                <div class="info"><p>English</p>
                    <p>50%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="box_info">Skills</div>
                    <div class="info"><p>HTML</p>
                    <p>90%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                <div class="info"><p>Word Press</p>
                    <p>50%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line2">
                    </div>
                </div>
                <div class="info"><p>CSS</p>
                    <p>80%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                <div class="info"><p>JS</p>
                    <p>75%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                <div class="info"><p>PHP</p>
                    <p>70%</p>
                    </div> 
                    <div class="border_line">
                    <div class="line">
                    </div>
                </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="box_info">Extra Skills</div>
                    <div class="down_part">
                        <div class="icons">
                            <img src="icons/Icons.svg"  width="15px" height="15px" alt="">
                            <img src="icons/Icons.svg"  width="15px" height="15px" alt="">
                            <img src="icons/Icons.svg"  width="15px" height="15px" alt="">
                            <img src="icons/Icons.svg"  width="15px" height="15px" alt="">
                        </div>
                        <div class="skills">
                            <p >Bootstrap, Materialize</p>
                            <p >Stylus, Sass, Less</p>
                            <p >Gulp, Webpack, Grunt</p>
                            <p >GIT Knowledge</p>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame"></div>
            <div class="right_frame"></div>
        </div>
    </div>
</body>
</html>